<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Title</title>
</head>
<body>
<form action="/company/register" method="post">
    <label for="cpId">아이디:</label>
    <input type="text" id="cpId" name="cpId" required>

    <label for="cpPw">비밀번호:</label>
    <input type="text" id="cpPw" name="cpPw" required>

    <label for="cpName">이름:</label>
    <input type="text" id="cpName" name="cpName" required>

    <label for="cpAddr">주소:</label>
    <input type="text" id="cpAddr" name="cpAddr" required>

    <label for="cpCategory">카테고리:</label>
    <input type="text" id="cpCategory" name="cpCategory" required>

    <label for="cpMtid">멘토아이디:</label>
    <input type="text" id="cpMtid" name="cpMtid" required>

    <label for="cpMtname">멘토이름:</label>
    <input type="text" id="cpMtname" name="cpMtname" required>

    <button type="submit">회원가입</button>
</form>

</body>
</html>